* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #efefef;
}
.board {
  width: 640px;
  height: 640px;

  display: flex;
  flex-wrap: wrap;
}

.board .square {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 34px;
  border: 1px solid #601010;
}

.square.black {
  background-color: #601010;
}

.square.white {
  background-color: #c1ad9b;
}

.piece {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.white {
  color: white;
}

.fas.black {
  color: black;
}
